@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=GFS+Neohellenic&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    outline: none; border: none;
}

body{
    font-size: 100%;
    background-color: #d9d9d8;
}

header{
    background-position: center;
    background-size: cover; 
    background-attachment: fixed;
}

.cabecalho{
    background-color: gray;
    padding: 24px;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}  

.img-logo{
    height: 59px;
    padding: 5px;
    flex-direction: start;
    margin-left: 20px;
    float: left;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    cursor: pointer;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul a{
    color: white;
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
    display: block;/*
    -webkit-text-stroke-width: 0.70px;
    -webkit-text-stroke-color: black;*/

}

nav ul a::after{
    content: "";
    display: block;
    background-color: black;
    height: 3px;
    width: 0%;
    transition: 0.3s;
    margin: 0 auto;
}

nav ul a:hover::after{
    width: 100%;
}

.genero{
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    max-height: 300px;
    font-family: 'GFS Neohellenic', sans-serif;
    margin-left: 100px;
    transition: 0.5s;
}

.genero img {
    border-radius: 100vw;
    margin-right: 130px;
    margin-top: 100px;
    height: 300px;
    padding: 5px;
    flex-direction: start;
    margin-left: 20px;
    float: left;
    transition: 0.5s;
}

.genero img:hover{
    height: 330px;
}

.dividi{
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    flex-direction: column;
    flex-direction: row;
}

.meo{
    color: #7f7f7f; 
    font-weight: 600;
    font-size: 30px;
    font-family: 'GFS Neohellenic', sans-serif;
    display:flex;
    flex-direction: column; 
    align-items: center;

}

.a{
    flex-direction: row;
    color: #7f7f7f;
    font-weight: 600;
    font-size: 30px;
    font-family: 'GFS Neohellenic', sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
}

section,
footer {
    padding: 54px 0;
}

.rodape{
    background-color: black;
    text-align: center;
    margin-top: 1800px;
}

.rodape i{
    color: black;
    font-size: 19px;
    background-color: white;
    padding: 10px;
    margin: 3px;
    border-radius: 10px;
}

.rodape .rodap .rodape-item{
    margin: 5px;
}

.rodape .rodap .rodape-item,
.rodape .rodap .rodape-item1{
    font-size: 10px;
    color: white;
    flex-direction: column;
    justify-content: space-between;
}

.rodape p{
    margin-top: 10px;
}