@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Noto+Sans:wght@100;600&display=swap');

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    outline: none; border: none;
    text-decoration: none;
}

body{
    background-color: #f1f6fc31;
}

section,
footer {
    padding: 54px 0;
}

h3{
    font-size: 50px;
}

p{
    color: #0000009c;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}  

.btn{
    background-color: rgb(209, 209, 209);
    color:black;
    font-weight: 500;
    padding: 15px 20px;
    cursor: pointer;
    display: inline-block;
    transition: 0.1s;
    border-radius: 10px;
}

.btn:hover{
    background-color: rgb(83, 83, 83) ;
}


header{
    background-position: center;
    background-size: cover; 
    background-attachment: fixed;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    cursor: pointer;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul a{
    color: rgb(41, 41, 41);
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    display: block;

}

nav ul a::after{
    content: "";
    display: block;
    background-color: black;
    height: 3px;
    width: 0%;
    transition: 0.3s;
    margin: 0 auto;
}

nav ul a:hover::after{
    width: 100%;
}

.banner{
    display: flex;
    justify-content: center;
}

.banner .banner-text{
    margin: 150px;
    text-align: center;
    padding: 0 90px;
}

.banner .banner-text h1{
    font-size: 96px;
    color: white;
}

.banner .banner-text p{
    font-size: 30px;
    color: white;
    font-weight: lighter;
    margin: 18px 0;
}

.img-logo{
    height: 59px;
    padding: 5px;
    flex-direction: start;
    margin-left: 20px;
    float: left;
}

.saiba .container{
    display: flex;
    align-items: center;
}

.saiba .saiba-text{
    width: 50%;
}

.saiba .saiba-text h3{
    font-size: 56px;
}

.saiba .saiba-text p{
    margin: 5px 0 10px 0;
}

.saiba .saiba-img1{
    width: 50%;
}

.saiba .saiba-img1 img{
    width: 100%;
}

.saiba .saiba-img2{
    width: 50%;
}

.saiba .saiba-img2 img{
    width: 90%;
}

.rodape{
    background-color: black;
    text-align: center;
}

.rodape i{
    color: black;
    font-size: 19px;
    background-color: white;
    padding: 10px;
    margin: 3px;
    border-radius: 10px;
}

.rodape .rodap .rodape-item{
    margin: 5px;
}

.rodape .rodap .rodape-item,
.rodape .rodap .rodape-item1{
    font-size: 10px;
    color: white;
    flex-direction: column;
    justify-content: space-between;
}

.rodape p{
    margin-top: 10px;
}
/*
.rodape{
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    padding: 24px;
    max-height: 300px;
    background-color: gray;
}

.rodap{
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    flex-direction: column;
}

.rodape-item{
    flex-direction: row;
    color: white;
    font-weight: 300;
    font-size: 18px;
}
*/

.cpandora h3{
    text-align: center;
    margin-bottom: 10px;
}

.cpandora p{
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

.card{
    display: flex;
    justify-content: center;
}

.cpandora .card-item{
    background-color: rgb(198, 197, 197);
    margin: 15px;
    border-radius: 14px;
    text-align: center;
    width: 900px;
    height: 60vh;
    transition: 0.3s;
}

.cpandora .card-item img{
    border-radius: 100%;
    width: 200px;
    display: block;
    margin: 10px auto;

}

.cpandora .card-item .titulo-card{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
    color: black;
    transition: 0.3s;
}

.cpandora .card-item .conteudo-card{
    font-size: 15px;
    padding: 0 15px;
    color: rgb(28, 27, 27);
    transition: 0.3s;
}

.cpandora .card-item .book{
    margin: 15px 0;
    border-top: 2px solid #f1f6fc31;
    transition: 0.3s;
}

.cpandora .card-item .book i{
    margin-top: 15px;
    font-size: 30px;
}

.cpandora .card-item:hover{
    background-color: rgb(8, 8, 7);
    margin-top: -4px;
}

.cpandora .card-item:hover .titulo-card,
.cpandora .card-item:hover .conteudo-card,
.cpandora .card-item:hover .book{
    color: rgb(239, 244, 247);
}