@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Noto+Sans:wght@100;600&display=swap');

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    outline: none; border: none;
    text-decoration: none;
}

body{
    font-size: 100%;
    background-color: white;
}

.cabecalho{
    background-color: gray;
    padding: 24px;
}

.junto{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    width: 250%;
    padding: 20px;
    box-shadow: 0.5px 0.5px 5px;
    border-radius: 6px;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
}


.meo{
    color: #7f7f7f; 
    font-weight: 600;
    font-size: 30px;
    font-family: 'GFS Neohellenic', sans-serif;
    display:flex;
    flex-direction: column; 
    align-items: center;
}

.a{
    flex-direction: row;
    color: #7f7f7f;
    font-weight: 600;
    font-size: 30px;
    font-family: 'GFS Neohellenic', sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;   
}

.titulo{
    font-size: 50px;
    font-weight: 800;
    margin-top: 5%;
}

.sub{
    font-size: 40px;
    font-weight: 550;
    margin-top: 5%;
}

.paragrafo{
    font-size: 40px;
    font-weight: 500;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 4%;
    margin-right: 4%;
}

.bot{
    margin-top: 3%;
    display: flex;
    align-items: center;
}

.bot button{
    border: none;
    background-color: #a0c4c7;
    padding: 1rem 3rem;
    border-radius: 5px;
    cursor: pointer;
}

.bot button:hover{
    background-color: #95cad0;
}

.bot button a{
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
}
.rodape{
    background-color: black;
    text-align: center;
}

.rodape i{
    color: black;
    font-size: 19px;
    background-color: white;
    padding: 10px;
    margin: 3px;
    border-radius: 10px;
}

.rodape .rodap .rodape-item{
    margin: 5px;
}

.rodape .rodap .rodape-item,
.rodape .rodap .rodape-item1{
    font-size: 10px;
    color: white;
    flex-direction: column;
    justify-content: space-between;
}

.rodape p{
    margin-top: 10px;
}

.img-logo{
    height: 59px;
    padding: 5px;
    flex-direction: start;
    margin-right: 900px;
    float: left;
}

nav{
    display: flex;
    align-items: center;
    padding-top: 30px;
    cursor: pointer;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul a{
    color: rgb(65, 65, 65);
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    display: block;
}

nav ul a::after{
    content: "";
    display: block;
    background-color: black;
    height: 3px;
    width: 0%;
    transition: 0.3s;
    margin: 0 auto;
}

nav ul a:hover::after{
    width: 100%;
}