@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=GFS+Neohellenic&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background-color: #b6d7db;
   /* display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 24px;*/
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem{
    height: 72px;
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item{
  
    color: #7f7f7f;
    font-weight: 400;
    font-size: 18px;   
    font-family: 'GFS Neohellenic', sans-serif;
}
.cabecalho-menu-item:hover{
    color: #cfcfcf;
}

.conteudo{
    margin-bottom: 48px;
    border-top: 0.4px solid #7f7f7f;
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo{
    /*font-family*/
    margin-left: 500px;
    font-weight: 400;
    font-size: 64px;
    color: #7f7f7f;
    font-family: 'GFS Neohellenic', sans-serif;
    margin: 100px auto 0 auto;
}

.tit{
    font-weight: 400;
    font-size: 24px;
    margin-left: 250px;
    color: #7f7f7f;
    font-family: 'GFS Neohellenic', sans-serif;
}

/*.conteudo-principal-escrito-subtitulo{
    font-weight: 400;
    font-size: 24px;
    color: #7f7f7f;
    font-family: 'GFS Neohellenic', sans-serif;
}*/

.conteudo-principal-imagem{
    height: 430px;
}
/*
.conteudo-secundario{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo{
    font-weight: 400;
    font-size: 24px;
    color: #7f7f7f;
    margin-bottom: 16px;
    font-family: 'GFS Neohellenic', sans-serif;
}*/

.conteudo-principal-paragrafo{
    font-weight: 300;
    font-size: 18px;
    color:#7f7f7f;
    margin-left: 50px;
    font-family: 'GFS Neohellenic', sans-serif;
}

.conteudo-secundario-escrito-subtitulo{
    font-weight: 400;
    font-size: 24px;
    margin-left: 250px;
    color: #7f7f7f;
    font-family: 'GFS Neohellenic', sans-serif;
}

.conteudo-secundario-paragrafo{
    /*fonte*/
    font-weight: 300;
    font-size: 18px;
    margin-left: 50px;
    color:#7f7f7f;
    font-family: 'GFS Neohellenic', sans-serif;
}
/*
.conteudo-terciario-titulo{
    font-weight: 400;
    font-size: 24px;
    color: #7f7f7f;
    margin-bottom: 16px;
    font-family: 'GFS Neohellenic', sans-serif;
}*/

.conteudo-terciario-paragrafo{
    /*fonte*/
    font-weight: 300;
    font-size: 18px;
    margin-left: 50px;
    color:#7f7f7f;
    font-family: 'GFS Neohellenic', sans-serif;
}

.conteudo-quartenario-paragrafo{
    font-weight: 300;
    font-size: 18px;
    margin-left: 50px;
    color:#7f7f7f;
    font-family: 'GFS Neohellenic', sans-serif;
}

.rodape{
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    padding: 24px;
    max-height: 300px;
    border-top: 0.4px solid #7f7f7f ;
    font-family: 'GFS Neohellenic', sans-serif;
}

.rodape-menu{
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    flex-direction: column;
}

.rodape-menu-item{
    flex-direction: row;
    color: #7f7f7f;
    font-weight: 300;
    font-size: 18px;   
}

.ptbranca{
    background-color: #b6d7db;
    width: 300px;
    padding: 40px;
    margin: 100px auto 0 auto;
    box-shadow: 0px 6px 10px;
    border-radius: 5px;
    margin-bottom: 60px;
    margin-right: 200%;
}

.ptbrancaq{
    background-color: #b6d7db;
    width: 350px;
    padding: 50px;/*
    margin: 40px auto 0 auto;*/
    box-shadow: 0px 6px 10px;
    border-radius: 5px;/*
    margin-bottom: 60px;*/
    margin-left: 100%;
}