@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=GFS+Neohellenic&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background-color: #c8ebff;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px;
    background-color: #b6d7db;
    margin-top: auto;
}

.cabecalho-imagem{
    height: 59px;
    flex-direction: start;
    margin-right: 770px;
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
    background-color: #c7c4c4; 
    border:2px solid rgb(129, 129, 130); 
    padding: 20px; 
    margin: 20px;
}

.cabecalho-item{
    /*fon-family*/
    color: #7f7f7f;
    font-weight: 400;
    font-size: 18px;   
    font-family: 'GFS Neohellenic', sans-serif;
}
.cabecalho-item:hover{
    color: #cfcfcf;
}

.conteudo{
    margin-bottom: 48px;
    border-top: 0.4px solid #7f7f7f;
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-p-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-pe-titulo{
    /*font-family*/
    font-weight: 400;
    font-size: 64px;
    color: #7f7f7f;
    font-family: 'GFS Neohellenic', sans-serif;
}

.conteudo-pe-subtitulo{
    /*fonte*/
    font-weight: 400;
    font-size: 24px;
    color: #7f7f7f;
    font-family: 'GFS Neohellenic', sans-serif;
}

.conteudo-imagem{
    height: 430px;
    margin-right: 50px
}

.conteudo-secundario{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-s-titulo{
    /*fonte*/
    font-weight: 400;
    font-size: 24px;
    color: #7f7f7f;
    margin-bottom: 16px;
    font-family: 'GFS Neohellenic', sans-serif;
}

.conteudo-s-paragrafo{
    /*fonte*/
    font-weight: 300;
    font-size: 18px;
    color:#7f7f7f;
    font-family: 'GFS Neohellenic', sans-serif;
}

.rodape{
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    padding: 24px;
    max-height: 300px;
    border-top: 0.4px solid #7f7f7f ;
    font-family: 'GFS Neohellenic', sans-serif;
}

.rodape-menu{
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    flex-direction: column;
}

.rodape-item{
    flex-direction: row;
    color: #7f7f7f;
    font-weight: 300;
    font-size: 18px;   
}

.partebranca{/*tem que colocar esse do lado do outro, mudar fonte e adicionar logo lá em cima+foto do lado do titulo e mudar as cores*/
    background-color: #b6d7db;
    width: 300px;
    padding: 40px;
    margin: 40px auto 0 auto;
    box-shadow: 0px 6px 10px;
    border-radius: 5px;
    margin-bottom: 60px;
    margin-left: 5%;
}

.partebrancad{
    background-color: #b6d7db;
    width: 300px;
    padding: 40px;
    margin: 40px auto 0 auto;
    box-shadow: 0px 6px 10px;
    border-radius: 5px;
    margin-bottom: 60px;
    margin-left: 5%;
}