/*@import url('fonte')*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background-color: #c8ebff;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem{
    height: 72px;
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item{
    /*fon-family*/
    color: #7f7f7f;
    font-weight: 400;
    font-size: 18px;   
}
.cabecalho-menu-item:hover{
    color: #cfcfcf;
}

.conteudo{
    margin-bottom: 48px;
    border-top: 0.4px solid #7f7f7f;
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo{
    /*font-family*/
    font-weight: 400;
    font-size: 64px;
    color: #7f7f7f;
}

.conteudo-principal-escrito-subtitulo{
    /*fonte*/
    font-weight: 400;
    font-size: 24px;
    color: #7f7f7f;
}

.conteudo-principal-imagem{
    height: 430px;
}

.conteudo-secundario{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo{
    border-top: 0.4px solid #7f7f7f;
    padding-top: 48px;
    /*fonte*/
    font-weight: 400;
    font-size: 24px;
    color: #7f7f7f;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo{
    /*fonte*/
    font-weight: 300;
    font-size: 18px;
    color:#7f7f7f;
}

.conteudo-terciario-titulo{
    border-top: 0.4px solid #7f7f7f;
    padding-top: 48px;
    /*fonte*/
    font-weight: 400;
    font-size: 24px;
    color: #7f7f7f;
    margin-bottom: 16px;
}

.conteudo-terciario-paragrafo{
    /*fonte*/
    font-weight: 300;
    font-size: 18px;
    color:#7f7f7f;
}

.rodape{
    padding:32px ;
    border-top: 0.4px solid #7f7f7f ;
}

.rodape-imagem{
    height: 72px;
    /*display:block;
    margin: 0 auto;
    coloca imagem no meio*/
}


.rodape-menu{
    
}

.rodape-menu-item{

}