@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=GFS+Neohellenic&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background-color: #d9d9d8;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px;
    justify-content: space-between;
    background-color: #b6d7db;
}

.cabecalho-imagem{
    height: 59px;
    flex-direction: start;
    margin-right: 770px;
    margin-left: 20px;
    padding: 5px;
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
}

.cabecalho-item{
    /*fon-family*/
    display: flex;
    color: #979696;
    font-weight: 400;
    font-size: 18px;   
    font-family: 'GFS Neohellenic', sans-serif;
}
.cabecalho-item:hover{
    color: #646464;
}

.conteudo{
    border-top: 0.1px solid #7f7f7f;
    display: flex;}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-p-escrito{
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.conteudo-pe-titulo{
    /*font-family*/
    font-weight: 400;
    font-size: 64px;
    color: #7f7f7f;
    font-family: 'GFS Neohellenic', sans-serif;
}

.conteudo-pe-subtitulo{
    /*fonte*/
    font-weight: 400;
    font-size: 24px;
    color: #7f7f7f;
    font-family: 'GFS Neohellenic', sans-serif;
}

.conteudo-imagem{
    border-radius: 100vw;
    height: 300px;
    margin-right: 60px;
}

.conteudo-secundario{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
}

.conteudo-s-titulo{
    /*fonte*/
    font-weight: 400;
    font-size: 24px;
    color: #7f7f7f;
    margin-bottom: 16px;
    font-family: 'GFS Neohellenic', sans-serif;
}

.conteudo-s-paragrafo{
    /*fonte*/
    font-weight: 300;
    font-size: 18px;
    color:#7f7f7f;
    font-family: 'GFS Neohellenic', sans-serif;
}

.rodape{
    background-color:#b6d7db;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    padding: 24px;
    max-height: 300px;
    border-top: 0.4px solid #7f7f7f ;
    font-family: 'GFS Neohellenic', sans-serif;
}

.rodape-menu{
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    flex-direction: column;
}

.rodape-item{
    flex-direction: row;
    color: #7f7f7f;
    font-weight: 300;
    font-size: 18px;   
}

.partebranca{/*tem que colocar esse do lado do outro, mudar fonte e adicionar logo lá em cima+foto do lado do titulo e mudar as cores*/
    background-color: #b6d7db;
    width: 50%;
    padding: 24px;
    box-shadow: 1px 1px 10px;
    border-radius: 6px;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
}